# Byte-compiled / compiled Python files
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
.Python
env/
venv/
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Optional: environment or secret files
.env
.env.*
